@import "tailwindcss";
@theme {
  --font-heading: palatino-linotype, sans-serif;
  --font-body: open-sans, sans-serif;
  --color-hylands-text-grey: #282828;
  --color-hylands-green: #a3aa83;
  --color-hylands-background-grey: #434447;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
p,
span,
li,
a {
  font-family: var(--font-body);
}
